<article class="blog-post">
	
    <div class="blog-post__picture">
		
        <a href="#">
			
			<img src="https://picsum.photos/800/450/?random" alt="{{ title }}" 
                 srcset="https://picsum.photos/200/113/?random 200w, 
                         https://picsum.photos/400/225/?random 400w, 
                         https://picsum.photos/600/338/?random 600w, 
                         https://picsum.photos/800/450/?random 800w" sizes="(max-width: 800px) 100vw, 800px">
	

		</a>

    </div>

    <div class="blog-post__content">
        
        <h2>
            
            <a href="#">{{ title }}</a>
            
        </h2>
        
        <div>
            
            <p>{{ excerpt }}</p>
            
        </div>
        
    </div>

</article>