<div class="cta-row cta-row--large">

    <div class="container">

        <div class="cta-row__left">{{ text }}</div>

        <div class="cta-row__right"><a href="#" class="button">{{ button }}</a></div>

    </div>

</div>