/*** Brand Colors ***/
$clr-brand-red: #D61F29;
$clr-brand-gray: #5F5F60;

/*** Base Colors ***/
$clr-white: #FFF;

$clr-gray-lighter: #F2F2F2;
$clr-gray-light: #F0EFEB;
$clr-gray: $clr-brand-gray;
$clr-gray-dark: #3B3434;
$clr-gray-darker: #1A1818;

$clr-red: $clr-brand-red;
$clr-red-dark: #A81E25;