<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="{{ path '/assets/css/stylesheet.css' }}">
    <title>{{ _target.label }} | Librairie de composants Vade Secure</title>
</head>
<body>

{{{ yield }}}

</body>
</html>