	<section class="product-grid">
		
		<div class="container grid">
			{{#each cards}}
			<article class="product-item">

				<h2 class="with-sub">{{ title }}</h2>
				
				<p>{{ excerpt }}</p>
				
				<a href="#">{{ link }}</a>
				
			</article>
			{{/each}}
			
		</div>
		
	</section>