@import url("https://use.typekit.net/cew4qah.css");
.container {
  width: 100%;
  max-width: 64rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto; }

/*** Brand Colors ***/
/*** Base Colors ***/
body {
  font-family: "proxima-nova",sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #3b3434; }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  margin-top: 0;
  padding-bottom: 0.7em;
  font-weight: 700;
  line-height: 1.1;
  color: #3b3434; }
  h1 > span, h2 > span, h3 > span, h4 > span, h5 > span, h6 > span {
    display: block; }
  h1.with-sub::before, h2.with-sub::before, h3.with-sub::before, h4.with-sub::before, h5.with-sub::before, h6.with-sub::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 3ch;
    height: 0.3em;
    content: "";
    background-color: #D61F29; }

h1 {
  font-size: 2.44em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.55em; }

h4 {
  font-size: 1.33em; }

h5 {
  font-size: 1.16em; }

h6 {
  font-size: 1em; }

p {
  max-width: 64ch; }

a {
  color: #D61F29;
  transition: color ease .4s; }
  a:hover, a:active, a:focus {
    color: #3b3434; }

a.e-main {
  position: relative;
  display: inline-block;
  font-size: .9em;
  color: #3b3434;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-decoration: none; }
  a.e-main::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 44px;
    height: 8px;
    content: "";
    background-color: #F0EFEB;
    transition: all ease .4s; }
  a.e-main:hover, a.e-main:active, a.e-main:focus {
    color: #5F5F60; }
    a.e-main:hover::before, a.e-main:active::before, a.e-main:focus::before {
      width: 100%;
      background-color: #D61F29; }

.icon {
  background: none;
  box-shadow: none !important;
  border: none;
  display: inline-block;
  font-size: 20px;
  margin: -1px 0 0 0.5px;
  vertical-align: middle;
  padding: 0;
  outline: none; }

@font-face {
  font-family: 'vs-font';
  src: url("../vs_font/vs-font.eot?i3ek8k");
  src: url("../vs_font/vs-font.eot?i3ek8k#iefix") format("embedded-opentype"), url("../vs_font/vs-font.ttf?i3ek8k") format("truetype"), url("../vs_font/vs-font.woff?i3ek8k") format("woff"), url("../vs_font/vs-font.svg?i3ek8k#vs-font") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"], .fa.glyphicon {
  font-family: 'vs-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa.glyphicon {
  background: none;
  box-shadow: none !important;
  border: none;
  display: inline-block;
  font-size: 20px;
  margin: -1px 0 0 0.5px;
  vertical-align: middle;
  padding: 0;
  outline: none; }

.icon-brain:before {
  content: "\e970"; }

.icon-test-tube:before {
  content: "\e971"; }

.icon-cross-thick:before {
  content: "\e96f"; }

.icon-layers:before {
  content: "\e900"; }

.icon-envelope:before {
  content: "\e901"; }

.icon-router:before {
  content: "\e902"; }

.icon-pdf:before {
  content: "\e903"; }

.icon-checkmark-circle-break:before {
  content: "\e904"; }

.icon-cloud-download:before {
  content: "\e905"; }

.icon-tag:before {
  content: "\e906"; }

.icon-inbox-arrow-down:before {
  content: "\e907"; }

.icon-whitelist:before {
  content: "\e908"; }

.icon-blacklist:before {
  content: "\e909"; }

.icon-arrow-down:before {
  content: "\e90a"; }

.icon-log-out:before {
  content: "\e90b"; }

.icon-checkmark:before {
  content: "\e90c"; }

.icon-arrow-right:before {
  content: "\e90d"; }

.icon-cup:before {
  content: "\e90e"; }

.icon-exit:before {
  content: "\e90f"; }

.icon-alert:before {
  content: "\e910"; }

.icon-arrow-left:before {
  content: "\e911"; }

.icon-document:before {
  content: "\e912"; }

.icon-github:before {
  content: "\e913"; }

.icon-advanced-settings-s:before {
  content: "\e914"; }

.icon-opened-lockpad:before {
  content: "\e915"; }

.icon-spear:before {
  content: "\e916"; }

.icon-dashboard-s:before {
  content: "\e917"; }

.icon-domains-s:before {
  content: "\e918"; }

.icon-logs-s:before {
  content: "\e919"; }

.icon-settings-s:before {
  content: "\e91a"; }

.icon-statistics-s:before {
  content: "\e91b"; }

.icon-calendar-full:before {
  content: "\e91c"; }

.icon-checkmark-circle:before {
  content: "\e91d"; }

.icon-clock:before {
  content: "\e91e"; }

.icon-cross-circle:before {
  content: "\e91f"; }

.icon-funnel:before {
  content: "\e920"; }

.icon-power:before {
  content: "\e921"; }

.icon-enter:before {
  content: "\e922"; }

.icon-exit2:before {
  content: "\e923"; }

.icon-inbox:before {
  content: "\e924"; }

.icon-paperclip:before {
  content: "\e925"; }

.icon-users:before {
  content: "\e926"; }

.icon-briefcase:before {
  content: "\e927"; }

.icon-bullhorn:before {
  content: "\e928"; }

.icon-gear:before {
  content: "\e929"; }

.icon-padlock:before {
  content: "\e92a"; }

.icon-clock-small:before {
  content: "\e92b"; }

.icon-delete:before {
  content: "\e92c"; }

.icon-inbox-cross:before {
  content: "\e92d"; }

.icon-inbox-checkmark:before {
  content: "\e92e"; }

.icon-spam:before {
  content: "\e92f"; }

.icon-sync:before {
  content: "\e930"; }

.icon-arrow-up:before {
  content: "\e931"; }

.icon-checkbox-check:before {
  content: "\e932"; }

.icon-handle:before {
  content: "\e933"; }

.icon-enter-down:before {
  content: "\e934"; }

.icon-exit-up:before {
  content: "\e935"; }

.icon-magnifier:before,
.fa-search:before {
  content: "\e936"; }

.icon-cross:before {
  content: "\e937"; }

.icon-bounce:before {
  content: "\e938"; }

.icon-virus:before {
  content: "\e939"; }

.icon-graymail:before {
  content: "\e93a"; }

.icon-legit:before {
  content: "\e93b"; }

.icon-xls:before {
  content: "\e93c"; }

.icon-png:before {
  content: "\e93d"; }

.icon-link:before {
  content: "\e93e"; }

.icon-hand-stop:before {
  content: "\e93f"; }

.icon-csv:before {
  content: "\e940"; }

.icon-add:before {
  content: "\e941"; }

.icon-move:before {
  content: "\e942"; }

.icon-move-handle:before {
  content: "\e943"; }

.icon-edit:before {
  content: "\e944"; }

.icon-diagnostic:before {
  content: "\e945"; }

.icon-status-failed:before {
  content: "\e946"; }

.icon-status-valid:before {
  content: "\e947"; }

.icon-status-failed-outline:before {
  content: "\e948"; }

.icon-upload:before {
  content: "\e949"; }

.icon-file-add:before {
  content: "\e94a"; }

.icon-directory:before {
  content: "\e94b"; }

.icon-directory-checkmark:before {
  content: "\e94c"; }

.icon-download:before {
  content: "\e94d"; }

.icon-stacked-emails:before {
  content: "\e94e"; }

.icon-plug:before {
  content: "\e94f"; }

.icon-user-add:before {
  content: "\e950"; }

.icon-pin:before {
  content: "\e951"; }

.icon-minus:before {
  content: "\e952"; }

.icon-time-back:before {
  content: "\e953"; }

.icon-sync-cross:before {
  content: "\e954"; }

.icon-internet:before {
  content: "\e955"; }

.icon-backup:before {
  content: "\e956"; }

.icon-redo:before {
  content: "\e957"; }

.icon-box-full:before {
  content: "\e958"; }

.icon-box:before {
  content: "\e959"; }

.icon-list:before {
  content: "\e95a"; }

.icon-export:before {
  content: "\e95b"; }

.icon-cloud-check:before {
  content: "\e95c"; }

.icon-file-arrow-up:before {
  content: "\e95d"; }

.icon-globe:before,
.fa-globe:before {
  content: "\e95e"; }

.icon-google-plus:before {
  content: "\e95f"; }

.icon-hook:before {
  content: "\e960"; }

.icon-inbox-classified:before {
  content: "\e961"; }

.icon-linkedin:before {
  content: "\e962"; }

.icon-twitter:before {
  content: "\e963"; }

.icon-arrow-right-thin:before {
  content: "\e964"; }

.icon-survey:before {
  content: "\e965"; }

.icon-cloud:before {
  content: "\e966"; }

.icon-gateway:before {
  content: "\e967"; }

.icon-cloud-settings:before {
  content: "\e968"; }

.icon-sdk:before {
  content: "\e969"; }

.icon-location:before {
  content: "\e96a"; }

.icon-map:before {
  content: "\e96b"; }

.icon-phone:before {
  content: "\e96c"; }

.icon-fingerprint:before {
  content: "\e96d"; }

.icon-employees:before {
  content: "\e96e"; }

.button {
  display: inline-block;
  padding: 12px 28px;
  font-size: .9em;
  font-weight: 700;
  text-decoration: none;
  transition: background-color ease 1s;
  background-color: #D61F29;
  color: #FFF; }
  .button:hover, .button:active, .button:focus {
    color: #FFF;
    background-color: #a91920; }
  .button--alt {
    background-color: #3b3434; }
    .button--alt:hover, .button--alt:active, .button--alt:focus {
      background-color: #201c1c; }

.page-header {
  position: relative;
  min-height: 100vh;
  background: #FFF url("https://picsum.photos/1200/800/?random") no-repeat center center;
  background-size: cover; }
  .page-header:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    content: "";
    z-index: 198; }
  .page-header--gray:before {
    background-color: rgba(240, 239, 235, 0.9); }
  .page-header--black {
    color: #FFF; }
    .page-header--black:before {
      background-color: rgba(0, 0, 0, 0.9); }
    .page-header--black h1 {
      color: #FFF; }
  .page-header .container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-flow: column wrap;
    z-index: 200; }
    .page-header .container > h1 {
      max-width: 21ch; }
    .page-header .container > p {
      max-width: 44ch; }

.cta-row {
  background-color: #1A1818;
  color: #FFF;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .cta-row > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
  .cta-row__left {
    width: 50%;
    font-weight: 700;
    line-height: 1.1;
    font-size: 24px; }
  .cta-row__right {
    width: 50%;
    text-align: right; }
  .cta-row.cta-row--large {
    position: relative;
    height: 480px;
    background: #FFF url("https://picsum.photos/1200/800/?random") no-repeat center center;
    background-size: cover; }
    .cta-row.cta-row--large:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      content: "";
      z-index: 198; }
    .cta-row.cta-row--large > .container {
      position: relative;
      height: 480px;
      flex-flow: column wrap;
      z-index: 200; }
    .cta-row.cta-row--large .cta-row__left,
    .cta-row.cta-row--large .cta-row__right {
      width: 100%;
      text-align: center; }
    .cta-row.cta-row--large .cta-row__left {
      font-size: 36px;
      line-height: 1.4;
      margin-bottom: 64px; }

.product-grid {
  background-color: #F0EFEB;
  padding: 44px 16px; }
  @media screen and (min-width: 40rem) {
    .product-grid {
      padding: 44px; } }
  .product-grid .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1px;
    border: 1px solid transparent; }
    @media screen and (min-width: 50rem) {
      .product-grid .grid {
        grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 50rem) {
    .product-grid.product-grid--three .grid {
      grid-template-columns: 1fr; } }
  @media screen and (min-width: 64rem) {
    .product-grid.product-grid--three .grid {
      grid-template-columns: 1fr 1fr 1fr; } }
  .product-grid .product-item {
    position: relative;
    margin: -1px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid #c4c0b1;
    transition: transform ease 1s, border-color ease 1s;
    z-index: 50; }
    @media screen and (min-width: 40rem) {
      .product-grid .product-item {
        padding: 44px; } }
    .product-grid .product-item p {
      max-width: 36ch;
      line-height: 1.2;
      margin-bottom: 40px; }
    .product-grid .product-item a {
      display: inline-block;
      padding: 4px 26px;
      text-transform: uppercase;
      color: #3b3434;
      text-decoration: none;
      font-size: .9em;
      background-repeat: no-repeat;
      background-position: top left;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNMTkuNDA1LjczNEw1LjM4MyAyNy4xOUguODc4TDE1LjA2LjczeiIgZmlsbD0iI0Q2MUYyOSIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+); }
    .product-grid .product-item:hover {
      color: #FFF;
      background-color: #1A1818;
      border-color: #1A1818;
      box-shadow: 12px 12px 32px rgba(0, 0, 0, 0.1);
      z-index: 51; }
      @media screen and (min-width: 40rem) {
        .product-grid .product-item:hover {
          transform: scale(1.1); } }
      .product-grid .product-item:hover h1, .product-grid .product-item:hover h2, .product-grid .product-item:hover h3, .product-grid .product-item:hover h4, .product-grid .product-item:hover h5, .product-grid .product-item:hover h6, .product-grid .product-item:hover a {
        color: #FFF; }

.blog-post {
  border: 1px solid #f0efeb;
  max-width: 800px;
  width: 100%;
  margin-bottom: 28px; }
  .blog-post__picture img {
    width: 100%;
    height: auto; }
  .blog-post__content {
    padding: 16px; }
    .blog-post__content h2 {
      font-size: 24px; }
      .blog-post__content h2 a {
        text-decoration: none; }

.event-card {
  border: 1px solid #f0efeb;
  max-width: 768px;
  width: 100%;
  padding: 16px;
  margin-bottom: 28px;
  transition: all .4s ease-in-out; }
  .event-card h2 {
    font-size: 32px;
    margin: 0; }
    .event-card h2 a {
      text-decoration: none; }
  .event-card__dates, .event-card__excerpt {
    font-size: 16px; }
  .event-card__excerpt {
    margin-top: 12px;
    line-height: 1.1; }
  .event-card:hover {
    border-color: #D61F29;
    background-color: #D61F29;
    color: #FFF;
    transform: scale(1.1); }
    .event-card:hover h2 {
      color: #FFF; }
      .event-card:hover h2 a {
        color: #FFF; }
