<article class="event-card">
    
    <h2>
        
        <a href="#">{{ title }}</a>
    
    </h2>
    
    <div class="event-card__dates">
        
        <i class="icon-calendar-full"></i> <span>{{ start }}</span> | <span>{{ end }}</span>
        
    </div>
    
    <p class="event-card__excerpt">
        
        {{ excerpt }}
        
    </p>
    
</article>